@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model List<SatisHaraket>
@{
    ViewBag.Title = "DepartmanPersonelSatis";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="container-fluid col-8">
    <br />
    <h2>Departman Personel Satis</h2>
    <br />

    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Personel Adı: @ViewBag.dpers</li>
    </ol>
    <table class="table table-bordered table-hover table-dark">
        <tr>
            <th>Satış ID</th>
            <th>Ürün</th>
            <th>Cari</th>
            <th>Fiyat</th>
            <th>Adet</th>
            <th>Toplam</th>
            <th>Tarih</th>
        </tr>
        @foreach (var x in Model)
        {
            <tr>
                <td>@x.SatisID</td>
                <td>@x.Urun.UrunAd</td>
                <td>@x.Cariler.CariAd @x.Cariler.CariSoyad</td>
                <td>@x.Fiyat</td>
                <td>@x.Adet</td>
                <td>@x.ToplamTutar</td>
                <td>@x.Tarih</td>
                <td><a href="#" class="btn btn-danger">Yazdır</a></td>
            </tr>
        }
    </table> 
</div>

<style>
    body {
        background-color: #212529;
    }

    .textbox {
        color: white;
        background-color: #212529;
    }

    .label {
        color: white;
        background-color: #212529;
        border: #212529;
    }
</style>
