@model MvcOnlineTicariOtomasyon.Models.Siniflar.Faturalar
@{
    ViewBag.Title = "FaturaGetir";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<h2>Fatura Güncelleme Sayfası</h2>
<br />

@using (Html.BeginForm("FaturaGuncelle", "Fatura", FormMethod.Post))
{
    <div class="container-fluid col-8">
        <form class="form-group" method="post">
            @Html.HiddenFor(x => x.FaturaID)
            @Html.LabelFor(x => x.FaturaSeriNo, new { @class = "form-control label" })
            @Html.TextBoxFor(x => x.FaturaSeriNo, new { @class = "form-control" })
            <br />
            @Html.LabelFor(x => x.FaturaSıraNo, new { @class = "form-control label" })
            @Html.TextBoxFor(x => x.FaturaSıraNo, new { @class = "form-control " })
            <br />
            @Html.LabelFor(x => x.VergiDairesi, new { @class = "form-control label" })
            @Html.TextBoxFor(x => x.VergiDairesi, new { @class = "form-control " })
            <br />
            @Html.LabelFor(x => x.Tarih, new { @class = "form-control label" })
            @Html.TextBoxFor(x => x.Tarih, new { @class = "form-control " })
            <br />
            @Html.LabelFor(x => x.Saat, new { @class = "form-control label" })
            @Html.TextBoxFor(x => x.Saat, new { @class = "form-control" })
            <br />
            @Html.LabelFor(x => x.TeslimEden, new { @class = "form-control label" })
            @Html.TextBoxFor(x => x.TeslimEden, new { @class = "form-control" })
            <br />
            @Html.LabelFor(x => x.TeslimAlan, new { @class = "form-control label" })
            @Html.TextBoxFor(x => x.TeslimAlan, new { @class = "form-control" })
            <br />
            <button class="btn btn-success">Güncelle</button>
        </form>
    </div>
}

<style>
    body {
        background-color: #212529;
    }

    .textbox {
        color: white;
        background-color: #212529;
    }

    .label {
        color: white;
        background-color: #212529;
        border: #212529;
    }
</style>
