@using MvcOnlineTicariOtomasyon.Models.Siniflar;
@model List<FaturaKalem>
@{
    ViewBag.Title = "FaturaDetay";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="container-fluid col-8">
    <br />
    <h2 style="color:white">Fatura Kalemleri Sayfası</h2>
    <br />

    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active"></li>
    </ol>
    <table class="table table-bordered table-hover table-dark" style="margin-top: 20px">
        <tr>
            <th>ID</th>
            <th>Açıklama</th>
            <th>Miktar</th>
            <th>Birim Fiyat</th>
            <th>Tutar</th>
        </tr>
        @foreach (var x in Model)
        {
            <tr>
                <td>@x.FaturaKalemID</td>
                <td>@x.Aciklama</td>
                <td>@x.Miktar</td>
                <td>@x.BirimFiyat</td>
                <td>@x.Tutar</td>


            </tr>
        }
    </table>
    <a href="/Fatura/YeniKalem/" class="btn btn-primary">Yeni Kalem Ekle</a>
</div>



<style>
    body {
        background-color: #212529;
    }

    .textbox {
        color: white;
        background-color: #212529;
    }

    .label {
        color: white;
        background-color: #212529;
        border: #212529;
    }
</style>
