@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model List<SatisHaraket>

@{
    ViewBag.Title = "SatisDetay";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<div class="container-fluid col-8">
    <br />
    <h2>Satış Detay</h2>
    <br />
    <table class="table table-bordered table-hover table-dark">
        <tr>
            <th>Satış ID</th>
            <th>Ürün</th>
            <th>Cari</th>
            <th>Personel</th>
            <th>Fiyat</th>
            <th>Adet</th>
            <th>Toplam</th>
            <th>Tarih</th>
        </tr>
        @foreach (var x in Model)
        {
            <tr>
                <td>@x.SatisID</td>
                <td>@x.Urun.UrunAd</td>
                <td>@x.Cariler.CariAd @x.Cariler.CariSoyad</td>
                <td>@x.Personel.PersonelAd @x.Personel.PersonelSoyad</td>
                <td>@x.Fiyat</td>
                <td>@x.Adet</td>
                <td>@x.ToplamTutar</td>
                <td>@x.Tarih</td>
            </tr>
        }
    </table>
    <a href="#" class="btn btn-danger">Yazdır</a>
</div>


<style>
    body {
        background-color: #212529;
    }

    .textbox {
        color: white;
        background-color: #212529;
    }

    .label {
        color: white;
        background-color: #212529;
        border: #212529;
    }
</style>