@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model List<SatisHaraket>

@{
    ViewBag.Title = "MusteriSatis";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="container-fluid col-10">
    <br />
    <br />
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Cari Adı: @ViewBag.cari</li>
    </ol>
    <table class="table table-bordered table-hover table-dark">
        <tr>
            <th>Satış ID</th>
            <th>Ürün</th>
            <th>Personel</th>
            <th>Fiyat</th>
            <th>Adet</th>
            <th>Toplam</th>
            <th>Tarih</th>
        </tr>
        @foreach (var x in Model)
        {
            <tr>
                <td>@x.SatisID</td>
                <td>@x.Urun.UrunAd</td>
                <td>@x.Personel.PersonelAd @x.Personel.PersonelSoyad</td>
                <td>@x.Fiyat</td>
                <td>@x.Adet</td>
                <td>@x.ToplamTutar</td>
                <td>@x.Tarih</td>
                <td><a href="#" class="btn btn-danger">Yazdır</a></td>
            </tr>
        }
    </table>
</div>
<style>
    body {
        background-color: #212529;
    }

    .textbox {
        color: white;
        background-color: #212529;
    }

    .label {
        color: white;
        background-color: #212529;
        border: #212529;
    }
</style>
